.links {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 40px;
}

.link {
  font-size: 21px;
  color: whitesmoke;
  transition: color 200ms cubic-bezier(0.375, 0.885, 0.32, 1.275);
  background-color: rgb(46, 46, 46);
  border-radius: 14px;
  border: 1px solid #f1ca1e8e;
  padding: 7px;
}

.link:hover {
  color: #f1cb1e;
}

.isActive {
  composes: link;
  color: #f1cb1e;
}
